# Supports comma-separated lists for key rotation under parallel mode:
# OPENAI_API_KEY="sk-key1,sk-key2,sk-key3"
OPENAI_API_KEY="Your api key here"
ANTHROPIC_API_KEY="Your api key here"
GOOGLE_API_KEY="Your api key here"
PERPLEXITY_API_KEY="Your api key here"
XAI_API_KEY="Your api key here"
